<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
            <p>Last scrape updated on {{date}} at {{time}}</p>
        </div>
    </div>
    <h2>Latest Mars News</h2>
    <h3>{{mars.article[newsindex].Title}}</h3>
    <p>{{mars.article[newsindex].Date}}</p>
    <p>{{mars.article[newsindex].Summary}}</p>
    <p><a class="btn btn-primary btn-lg" href="/morenews" role="button">Click for older news<br>Article {{newsindex+1}} of 40</a></p>
    <p><a class="btn btn-primary btn-lg" href="/latestnews" role="button">Click for most recent news</a></p>

    <br>
    <h2>Current Weather on Mars</h2>
    <p>{{mars.weather}}</p>
    <br>
    <h2>Featured Mars Image</h2>
    <img src="{{mars.featured_image}}" alt="Featured Image" style="height:600px;" />
    <br>
    <h2>Mars Facts</h2>
    <table border="1" class="dataframe">
        <thead>
            <tr style="text-align: right;">
                <th>Parameter</th>
                <th>Fact</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Equatorial Diameter</td>
                <td>{{mars.mars_facts['Equatorial Diameter:']}}</td>
            </tr>
            <tr>
                <td>Polar Diameter</td>
                <td>{{mars.mars_facts['Polar Diameter:']}}</td>
            </tr>
            <tr>
                <td>Mass</td>
                <td>{{mars.mars_facts['Mass:']}}</td>
            </tr>
            <tr>
                <td>Moons</td>
                <td>{{mars.mars_facts['Moons:']}}</td>
            </tr>
            <tr>
                <td>Orbit Distance</td>
                <td>{{mars.mars_facts['Orbit Distance:']}}</td>
            </tr>
            <tr>
                <td>Orbit Period</td>
                <td>{{mars.mars_facts['Orbit Period:']}}</td>
            </tr>
            <tr>
                <td>Surface Temperature</td>
                <td>{{mars.mars_facts['Surface Temperature:']}}</td>
            </tr>
            <tr>
                <td>First Record</td>
                <td>{{mars.mars_facts['First Record:']}}</td>
            </tr>
            <tr>
                <td>Recorded By</td>
                <td>{{mars.mars_facts['Recorded By:']}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <h2>Mars Hemispheres</h2>
    <img src="{{mars.mars_hems[0].img_url}}" alt="{{mars.mars_hems[0].title}}" style="height:400px;" />
    <p>{{mars.mars_hems[0].title}}</p>
    <br>
    <img src="{{mars.mars_hems[1].img_url}}" alt="{{mars.mars_hems[1].title}}" style="height:400px;" />
    <p>{{mars.mars_hems[1].title}}</p>
    <br>
    <img src="{{mars.mars_hems[2].img_url}}" alt="{{mars.mars_hems[2].title}}" style="height:400px;" />
    <p>{{mars.mars_hems[2].title}}</p>
    <br>
    <img src="{{mars.mars_hems[3].img_url}}" alt="{{mars.mars_hems[3].title}}" style="height:400px;" />
    <p>{{mars.mars_hems[3].title}}</p>


</body>

</html>