<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link href="{{ url_for('static', filename='/assets/dist/css/bootstrap.css') }}" rel='stylesheet'>


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>


    <style type='text/css'>
        .jumbotron {
            background-image: url({{mars.featured_image}});
            background-size: cover;
            color: white
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello...Mars?!</h1>
            <p>This webpage is dedicated to all things Martian. We painstakingly assemble data from only the most trusted sources!</p>
            <p>Click the button below to update the data. Note this may take a Martian minute or two to complete. <br>Please be patient...it's a long way to Mars!</p>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Refresh Data &raquo;</a></p>
            <p>Data last updated on {{date}} at {{time}}.</p>
            <p><a class="btn btn-primary btn-lg" href="{{mars.featured_image}}" target="_blank" role="button">View Full Size Image &raquo;</a></p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h2>Latest Mars News</h2>
                <p>The latest news from the <a href="https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest" target="_blank">NASA</a> Mars Exploration Program</p>
                <h5>{{mars.article[newsindex].Title}}</h5>
                <p>{{mars.article[newsindex].Date}}</p>
                <p>{{mars.article[newsindex].Summary}}</p>
                <p><a class="btn btn-secondary" href="/morenews" role="button">Next older headline &raquo;</a></p>
                <p><a class="btn btn-secondary" href="/latestnews" role="button">Most recent headline &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>Current Weather on Mars</h2>
                <p>If you're vacationing on Mars best head for the equator where temps can reach 68F at noon. Otherwise, dress warm as temps at the poles can drop to -243F! <br>Below is the most recent weather report from the <a href="https://twitter.com/marswxreport?lang=en"
                        target="_blank">Mars Twitter</a> feed.</p>
                <p>{{mars.weather}}</p>
                <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
            </div>
            <div class="col-md-4">
                <h2>Mars Facts</h2>
                <p>Impress your friends with your Mars knowledge! Here are some of the basics from <a href="https://space-facts.com/mars/" target="_blank">Space Facts</a>.</p>
                <table border="1" class="dataframe">
                    <thead>
                        <tr style="text-align: right;">
                            <th>Parameter</th>
                            <th>Fact</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Equatorial Diameter</td>
                            <td>{{mars.mars_facts['Equatorial Diameter:']}}</td>
                        </tr>
                        <tr>
                            <td>Polar Diameter</td>
                            <td>{{mars.mars_facts['Polar Diameter:']}}</td>
                        </tr>
                        <tr>
                            <td>Mass</td>
                            <td>{{mars.mars_facts['Mass:']}}</td>
                        </tr>
                        <tr>
                            <td>Moons</td>
                            <td>{{mars.mars_facts['Moons:']}}</td>
                        </tr>
                        <tr>
                            <td>Orbit Distance</td>
                            <td>{{mars.mars_facts['Orbit Distance:']}}</td>
                        </tr>
                        <tr>
                            <td>Orbit Period</td>
                            <td>{{mars.mars_facts['Orbit Period:']}}</td>
                        </tr>
                        <tr>
                            <td>Surface Temperature</td>
                            <td>{{mars.mars_facts['Surface Temperature:']}}</td>
                        </tr>
                        <tr>
                            <td>First Record</td>
                            <td>{{mars.mars_facts['First Record:']}}</td>
                        </tr>
                        <tr>
                            <td>Recorded By</td>
                            <td>{{mars.mars_facts['Recorded By:']}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
            </div>
        </div>

        <br>

        <div class="container">
            <h2>Carousel Example</h2>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="la.jpg" alt="Los Angeles" style="width:100%;">
                    </div>

                    <div class="item">
                        <img src="chicago.jpg" alt="Chicago" style="width:100%;">
                    </div>

                    <div class="item">
                        <img src="ny.jpg" alt="New york" style="width:100%;">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

</body>

</html>